<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
        <!--MENU PARENT-->
        <menuitem
                id="menu_purchase_order_top"
                name="Purchase Order"
                groups="budget_purchase_order.group_purchase_order_dependent,budget_purchase_order.group_purchase_order_user,budget_purchase_order.group_purchase_order_manager"
                sequence="7"/>
        <menuitem
                id="menu_purchase_order_left"
                name="Purchase Order"
                sequence="1"
                parent="menu_purchase_order_top"
                action="action_purchase_order"/>
    </data>
</odoo>
